@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&family=Satisfy&display=swap');

:root{
    --color1: #40191A;
    --color2: #E5ADB6;
    --color3: #6C4949;
    --color4: #E6B8AE;
    --text: 'Sarala', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--color2);
    font-family: var(--text);
}

.header{
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.logo-header{
    height: 72px;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu-item{
    font-family: 'Sarala';
    color: var(--color2);
    font-weight: 400;
    font-size: 18px;
}

.menu-item:hover{
    color: var(--color4)
}

.main{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;   
}

.titulo-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo h1{
    font-family: 'Satisfy', cursive;
    color: var(--color1);
    font-size: 80px;
}

.titulo h2{
    font-family: var(--text);
    font-weight: 400;
    font-size: 24px;
    color: var(--color3)
}

.titulo button{
    background-color: var(--color1);
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 14px;
    box-shadow: 4px 5px 4px var(--color4);
    color: var(--color2);
    font-size: 24px;
    font-weight: 400;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.titulo button:hover{
    background-color: var(--color3);
    color: var(--color1)
}

.titulo-imagem{
    height: 400px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.conteudo-titulo{
    border-top: 0.4px solid var(--color3);
    padding-top: 24px;
    font-size: 24px;
    color: var(--color1);
    margin-bottom: 16px;
}

.conteudo-imagens{
    display: flex;
    flex-direction: row;
}

.conteudo-img{
    height: 500px;
    padding: 20px;
}

.conteudo-sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;        ;
}

.conteudo-escrito{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 40px;
}

.conteudo-escrito p{
    text-align: justify;
}

.propaganda{
    background-color: var(--color3);
    color: var(--color4);
    padding: 10px;
    border-radius: 10px;
    width: 120%;
}

.propaganda button{
    background-color: var(--color1);
    margin: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 14px;
    color: var(--color2);
    font-size: 24px;
    font-weight: 400;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.propaganda button:hover{
    background-color: var(--color2);
    color: var(--color1)
}

.img-cardapio{
    margin: auto;
    display: block;
    width: 800px;
    
}

.footer{
    display: flex;
    padding: 16px;
    background-color: var(--color1);
    color: var(--color2);
    font-size: 16px;
    justify-content: center;
}

